<!-- Main (Home) section -->
<section class="section" id="head">
	<div class="container">

		<div class="row">
			<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">	

				<!-- Site Title, your name, HELLO msg, etc. -->
				<h1 class="title">Flash Sale</h1>
				<h2 class="subtitle">Waste Less Food</h2>

				<!-- Short introductory (optional) -->
				<h3 class="tagline">
					Flash Sale strives to minimize food waste in Cape Town and encourage restaurants to act more sustainably. Instead of throwing out any leftover food, restaurants are given the opportunity create special end of the day deals to draw in their customers, 
					increase their sales, and prevent waste. 

				</h3>
				
				<!-- Nice place to describe your site in a sentence or two -->
				<p><a href="/posts" class="btn btn-default btn-lg">See Our Freshest Flash Sales!</a></p>
	
			</div> <!-- /col -->
		</div> <!-- /row -->
	
	</div>
</section>




