<h1>FLASH SALE</h1>
<p> Our Mission......... </p>
</br><%= link_to 'See All Flash Sales!', posts_path %>
<% if user_signed_in? %>
	<%= link_to 'Add Sale', new_post_path(@post) %> | | |
	<%= link_to 'Dashboard', dashboard_path %>
<% end %>


