<<<<<<< HEAD

<center>
=======
>>>>>>> 3acd9615765f2c4b01cb8c2b8d533e527ebc6160
<div class="container">

<div class="divider" id="section5"></div>  

	<div class="row">

	  <div class="col-sm-9 col-sm-offset-1">
<<<<<<< HEAD
		  
		  <div class="row form-group">
			<div class="col-md-12">
			<h1>Feedback</h1>        
=======

		  <div class="row form-group">
			<div class="col-md-12">
<<<<<<< HEAD
			<h1 class="title"><img src="/images/logo4.jpg" alt= ""> | Feedback</h1>        
=======
			<h1 class="title"><img src="/images/logo.jpg" alt= ""> | Feedback</h1>        
>>>>>>> 3acd9615765f2c4b01cb8c2b8d533e527ebc6160
>>>>>>> 4437c78c6664e19864246159bce426b7c5f2aa54
			</div>

			<div class="col-xs-4">
			  <input type="text" class="form-control" id="firstName" name="name" placeholder="Your Name">
			</div>

			<div class="col-xs-6">
			  <input type="text" class="form-control" id="email" name="email" placeholder="Your Email">
			</div>
		  </div>

		  <div class="row form-group">
			  <div class="col-xs-10">
				<textarea class="form-control" placeholder="Your Feedback"></textarea>
			  </div>
		  </div>

		  <div class="row form-group">
			  <div class="col-xs-10">
			  	<p><a href="/feedback" <button class="btn btn-default pull-right">Help Us Improve!</button></a></p>
			  	
		  </div>
		 
			
	  	
		
		
	  </div>
</div>
</div>
</center>



