<div class="container">

<div class="divider" id="section5"></div>  

	<div class="row">

	  <div class="col-sm-9 col-sm-offset-1">

		  <div class="row form-group">
			<div class="col-md-12">
			<h1 class="title"><img src="/images/logo.jpg" alt= ""> | Feedback</h1>        
			</div>

			<div class="col-xs-4">
			  <input type="text" class="form-control" id="firstName" name="name" placeholder="Your Name">
			</div>

			<div class="col-xs-6">
			  <input type="text" class="form-control" id="email" name="email" placeholder="Your Email">
			</div>
		  </div>

		  <div class="row form-group">
			  <div class="col-xs-10">
				<textarea class="form-control" placeholder="Your Feedback"></textarea>
			  </div>
		  </div>

		  <div class="row form-group">
			  <div class="col-xs-10">
			  	<p><a href="/feedback" <button class="btn btn-default pull-right">Help Us Improve!</button></a></p>
			  </div>
		  </div>
		
	  </div>
</div>
</div>

	<div class="container">
		<h2 class="text-center title">Get in touch</h2>
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-center">
				<p class="lead">Have a question about Flash Sale, or want to suggest an idea?</p>
				<p>Feel free to email us, or check out our Facebook page!</p>
				<p><b>flashsalegardens@gmail.com</b><br><br></p>
				<ul class="list-inline list-social">
					<li><a href="https://www.facebook.com/f1ashsa1e" class="btn btn-link">Facebook</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>



