</br></br></br>
<div class="container">
	<h2 class="text-center title">Get in touch</h2>
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2 text-center">
			<p class="text-center">Have a question about Flash Sale, or want to suggest an idea?</p>
			<p>Feel free to check out our Facebook page or email us!</p>
			<ul class="list-inline list-social">	
				<strong><li><a class="full-rounded" href="https://www.facebook.com/f1ashsa1e" title="social"><i class="fa fa-facebook"></i></a></li></strong>		
			</ul>
			<p><a href="mailto:flashsalegardens@gmail.com" class="btn btn-primary" role="button">Email the Founders</a></p>
		</div>
	</div>
</div>

<x-small><p class="text-center title">Isabel</p></x-small>
<x-small><p class="text-center title">Rebecca</p></x-small>
<x-small><p class="text-center title">Tali</p></x-small>

		  <div class="row form-group">
			<div class="col-md-12">
			<center><h1 class="title"><img src="/images/hand.jpg" alt= ""></h1></center>      
			</div>