<div class="container">
	<h2 class="text-center title">Get in touch</h2>
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2 text-center">
			<p class="lead">Have a question about Flash Sale, or want to suggest an idea?</p>
			<p>Feel free to email us, or check out our Facebook page!</p>
			<p><b>flashsalegardens@gmail.com</b><br><br></p>
			<ul class="list-inline list-social">
				
				<li><a class="full-rounded" href="https://www.facebook.com/f1ashsa1e" title="social"><i class="fa fa-facebook"></i></a></li></li>
			
			</ul>
		</div>
	</div>
</div>




