/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap/glyphicons
 *= require_tree .
 *= require magister
 *= require font-awesome
 *= require_self
 */
@import url(https://fonts.googleapis.com/css?family=Wire+One);

.edit_logout {
  position: absolute;
  z-index: 9000000;
  right: 20px;
}

th {
	background: lightgrey;
	padding: 38px;
}
td {
	background: white;
	padding: 38px;
	color: #00008B;
}


body{
	background:rgba(255,255,255,.4);
}

.overlay {
/*	height:100%;
	width:100%;
	position:fixed;
	left:0;
	top:0;
	background-color: rgba(255,255,255,.4);*/
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: white;
	opacity: 0.4;
	z-index: -1 !important;
}


.main-content {
	z-index: 100 !important;
	overflow: auto;
	height: 100%;
	width: 100%;
}

